{% extends "App/padre.html" %}

{% load static %}

{% block contenidoQueCambia %}


    <!--Aquí va lo que cambia, y lo asociado a está vista :) -->
    <h1>Busque aquí su mascota</h1>
  

    <h3>Inserte los datos</h3>

    <form action="buscar" method="GET">

        <input type="text" name="resultado">

        <input type="submit" value="Buscar">

    </form>

    

    {% if mascotas %}
     {% for resultado in mascotas %}
		 {{mascotas.resultado}} 
	{% endfor %}
{% endif %}
<p style="color:rgb(255, 255, 255)"> mascota encontrada: {{prd}}</p>
<p style="color:rgb(255, 255, 255)"> Pertenece al dueño: {{dueños}}</p>

{% endblock %}